button.wp-block-create-block-hamburger-menu-icon {
	background: transparent;
	padding: 0px;
	border: solid 1px currentColor;
	display: block;
	position: relative;
	cursor: pointer;

	& > span {
		display: block;
		width: 68%;
		height: calc(var(--block-hamburger-menu-line-height) * 2);
		background: currentColor;
		border-radius: 6px;
		transition: 0.3s ease-in-out;
		position: absolute;
		left: 16%;
	}
	& > span:nth-child(1) {
		top: calc(var(--block-hamburger-menu-height-ratio) - var(--block-hamburger-menu-line-height));
	}
	& > span:nth-child(2) {
		top: calc(var(--block-hamburger-menu-height-ratio) * 2 - var(--block-hamburger-menu-line-height));
	}
	& > span:nth-child(3) {
		top: calc(var(--block-hamburger-menu-height-ratio) * 3 - var(--block-hamburger-menu-line-height));
	}

	&.open > span:nth-child(1) {
		top: calc(var(--block-hamburger-menu-height-ratio) * 2 - var(--block-hamburger-menu-line-height));
		transform: rotate(45deg);
	}

	&.open > span:nth-child(2) {
		opacity: 0;
	}

	&.open > span:nth-child(3) {
		top: calc(var(--block-hamburger-menu-height-ratio) * 2 - var(--block-hamburger-menu-line-height));
		transform: rotate(-45deg);
	}
}
